.body, html {
    background-color: #04bed4;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 20px;
    margin-right: 10px;
    

}

.nav-bar hr{
    margin-top: -28px;
}

header img{
    width: 200px;
    height: auto;
}


section {
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    font-family: "Poppins-regular", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 500px;
    font-size: 35px;
   
}

.flechas {
    width: 50px;
    height: auto;
    margin-bottom: -10px;
 }
        
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.container{
    width: 80%;   
    margin: 0px auto;
    padding: 0px;
    justify-content: center;
    padding-bottom: 70px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 25px;
    margin-top: 150px;
    justify-content: center;
    
}

.hero {
    background-image: url("/public/img/SOBRE_NOSOTROS_HERO.webp");
}

.card{
    background-color:  #0e095c;;
    border-radius: 30px;
    width: 30%;
    height: 290px;
    padding: 20px;
    justify-content: space-between;
    
}


.grid-2{
    display: flex;
    width: 100%;
    grid-gap: 25px;
    justify-items: center;
    margin-top: 130px;
    margin-left: 220px;
        
}

.grid-2 .card{
    width: 38%;
    grid-gap: 25px
    
}

.top{
    position: relative;
    top: -130px;
    height: 220px;
    width: 220px;
    border-radius: 100%;
    object-fit: cover;
    border: 9px solid #0e095c ;    
    
}

.card h2{
    margin-top: -120px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
}
.card h3{
    color: rgb(84, 164, 239);
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.bottom{
    position: relative;
    width: 220px;
    bottom: 30px;
   
}
