@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #04bed4 0%, #0e095c 100%);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drumsHero {
    background-image: url("../../public/img/img_hero_bateria.webp");
}

#guitarHero {
    background-image: url("../../public/img/img_hero_guitarra.webp");
}

#saxoHero {
    background-image: url("../../public/img/img_home_saxofon.png");
}

.inConstructionImg {
    height: 600px;
    margin-bottom: 20px;
}

.content {
    width: 100%;
    max-width: 1008px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inConstructionImg {
        height: 400px;
    }

}