@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #04bed4 0%, #0e095c 100%);
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1008px;
    margin-top: 40px;

}

.piano-container {
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.piano-container::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 0px;    /* Reducido de 40px a 20px */
    right: 0px;    /* Reducido de 40px a 20px */
    height: 20px;
    background-color: white;
    z-index: 2;
    border: #B9B9B9 solid 1px;
}

#piano {
    height: 200px;
    padding: 30px 40px;
    display: flex;
    position: relative;
    margin-bottom: 120px;
}

.white-keys {
    display: flex;
}

.white-key {
    width: 70px;
    height: 300px;
    background-color: white;
    border: 1px solid #B9B9B9;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    position: relative;
}

.white-key::after {
    content: attr(data-key);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: #666;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-transform: uppercase;
}

.black-key::after {
    content: attr(data-key);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-transform: uppercase;
}


.piano-container:hover .white-key::after,
.piano-container:hover .black-key::after {
    opacity: 1;
}

.white-key:hover {
    background-color: #f0f0f0;
}

.black-keys-container {
    position: absolute;
    display: flex;
    top: 30px;
    left: 42px;
}

.black-key {
    width: 50px;
    height: 200px;
    background-color: black;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.black-key:hover {
    background-color: #333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4),
                0 3px 3px rgba(0, 0, 0, 0.2);
}
/* Alineando las teclas negras de ambas octavas */
.black-key:nth-child(1) { left: 45px; }  /* Do# */
.black-key:nth-child(2) { left: 115px; }  /* Re# */
.black-key:nth-child(3) { left: 260px; } /* Fa# */
.black-key:nth-child(4) { left: 335px; } /* Sol# */
.black-key:nth-child(5) { left: 405px; } /* La# */
/* Segunda octava */
.black-key:nth-child(6) { left: 550px; } /* Do# */
.black-key:nth-child(7) { left: 620px; } /* Re# */
.black-key:nth-child(8) { left: 765px; } /* Fa# */
.black-key:nth-child(9) { left: 840px; } /* Sol# */
.black-key:nth-child(10) { left: 910px; } /* La# */



.infoSection {
    justify-self: center;
    width: 85%;
    display: flex;
    align-items: center;
    color: white;
    margin: 50px 0 135px 0;
    gap: 30px;
}

.iconoPiano {
    width: 140px;
    height: 140px;
    margin-top: 20px;
}
.infoSection h2 {
    font-size: 70px;
    margin: 0;
}

.infoSection p {
    font-size: 24px;
    margin: 5px 0 0 0;
}

.infoSection .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion {
    width: 100%;
    margin: 0 auto;
}

.accordion-item {
    width: 100%;
    position: relative;
}

.accordion-header {
    position: relative;
    padding: 0 10px;
    width: 100%;
    background: linear-gradient(90deg, #ffffff 20%, #b7b7b7 100%);
    height: 80px;
    font-size: 28px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.accordion-header::before {
    right: 5%;
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('/public/img/FLECHAS.png');
    background-size: cover;
    background-position: center;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    max-height: 0;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    width: 100%;
    transition: 0.5s;
    text-align: justify;
    background: black;
    opacity: 0;
}

.accordion .accordion-item.active .accordion-content{
    max-height: 2000px;
    opacity: 1;
    margin-bottom: 40px;

}

.accordion .accordion-item.active .accordion-header::before {
    transform: rotate(180deg);
    transition: 0.5s;
}

.accordion-content iframe {
    width: 80%;
    height: 400px;
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .piano-container::before {
        right: 60px;
        left: 60px;
    }

    .piano-container {
        transform: rotate(90deg);
        margin-top: 200px;  /* Espacio para la rotación */
        margin-bottom: 200px;  /* Espacio para la rotación */
        scale: 0.75;  /* Reducir tamaño en móvil */
    }

    .infoSection {
        margin-top: 40px;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .infoSection .text-content {
        align-items: center;
    }

    .infoSection h2 {
        font-size: 24px;
    }

    .infoSection p {
        font-size: 16px;
    }

    .accordion {
        width: 100%;
    }

    .accordion-header {
        font-size: 25px;
    }
}

.white-key.active {
    background-color: #f0f0f0;
    transform: translateY(2px);
    border: #1B3C7C solid 1px;
}

.black-key.active {
    background-color: #333;
    transform: translateY(2px);
}