@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #04bed4 0%, #0e095c 100%);
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pianoHero {
    background-image: url("/public/img/img_hero_piano.jpg");
}

.content {
    width: 100%;
    max-width: 1008px;
    margin-top: 40px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    text-align: center;
    border: #f0f0f0 solid 5px;
    border-radius: 10px;
    padding: 20px;
    color: #f0f0f0;
    margin-bottom: 20px;
    display: none;
}

.rotate-screen i {
    font-size: 60px;
    margin: 10px 0;
    animation: rotate 4s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.piano-container {
    /* padding: 20px; */
    /* margin-bottom: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex:1;
    gap: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.piano-container::before {
    content: '';
    width: 99.5%;
    position: absolute;
    top: 0;
left: 0%;
right: 0%;
    height: 20px;
    background-color: white;
    z-index: 2;
    border: #B9B9B9 solid 1px;
    margin: 0;
}

#piano {
    height: 200px;
    width: 100%;
    /* padding: 30px 40px; */
    display: flex;
    position: relative;
padding: 0;
padding: 0;
    margin-bottom: 120px;
  
}

.white-keys {
    display: flex;
    width: 100%;
}

.white-key {
    width: 7.14%;
    height: 300px;
    background-color: white;
    border: 1px solid #B9B9B9;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    position: relative;
}

.white-key::after {
    content: attr(data-key);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: #666;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-transform: uppercase;
}

.black-key::after {
    content: attr(data-key);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-transform: uppercase;
}


.piano-container:hover .white-key::after,
.piano-container:hover .black-key::after {
    opacity: 1;
}

.white-key:hover {
    background-color: #f0f0f0;
}

.black-keys-container {
    position: absolute;
    display: flex;
    width: 100%;
}

.black-key {
    width: 50px;
    height: 200px;
    background-color: black;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.black-key:hover {
    background-color: #333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4),
                0 3px 3px rgba(0, 0, 0, 0.2);

}
/* Alineando las teclas negras de ambas octavas */
.black-key:nth-child(1) { left: 4.8%; }  /* Do# */
.black-key:nth-child(2) { left: 12.2%; }  /* Re# */
.black-key:nth-child(3) { left: 26%; } /* Fa# */
.black-key:nth-child(4) { left: 33.5%; } /* Sol# */
.black-key:nth-child(5) { left: 40.5%; } /* La# */
/* Segunda octava */
.black-key:nth-child(6) { left: 54.7%; } /* Do# */
.black-key:nth-child(7) { left: 62%; } /* Re# */
.black-key:nth-child(8) { left: 76%; } /* Fa# */
.black-key:nth-child(9) { left: 83.5%; } /* Sol# */
.black-key:nth-child(10) { left: 90.5%; } /* La# */

@media (max-width: 768px){
    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .piano-container {
        scale: 0.75;  /* Reducir tamaño en móvil */
        display: none;
    }

    .rotate-screen {
        display: flex;
        flex-direction: column;
    }

  

}

.white-key.active {
    background-color: #f0f0f0;
    transform: translateY(2px);
    border: #1B3C7C solid 1px;
}

.black-key.active {
    background-color: #333;
    transform: translateY(2px);
}

@media (min-width: 768px) and (max-width: 1024px){ 
    .piano-container {
        margin-bottom: 10px;  /* Espacio para la rotación */
        scale: 0.8;  /* Reducir tamaño en móvil */
        width: 100%;
        display: none;
    }
    
    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .piano-container::before {
       
    }

    .rotate-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        text-align: center;
        border: #f0f0f0 solid 5px;
        border-radius: 10px;
        padding: 20px;
        color: #f0f0f0;    }

 
}

@media (orientation: landscape){

    .piano-container {
        display: flex;
        
    }

    .rotate-screen {
        display: none;
    }

  
}


@media (orientation: portrait) {
    .piano-container {
        display: none;
    }

 

    .rotate-screen {
        display: flex;
    }
}
