@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #04bed4 0%, #0e095c 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    /* Transición suave */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0rem;
    /*Arreglar*/
    margin-bottom: 0;
    /*arreglar*/
}


.divider {
    position: absolute;
    line-height: 0.188rem;
    width: 100%;
    top: 70%;
    z-index: -1;
    /*para priorizar por capas*/
}

header.bg-color {
    background-color: #0e095c;
}

.nav {
    top: 0%;
    padding-right: 1.25rem;
}

.menu-toggle,
.close-menu {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.875rem;
}

.nav-links li {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0px;
    font-size: 1.6rem;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0.5px black;
    /* Borde de 2px negro */
}

.logo {
    object-fit: contain;
    width: 12.5rem;
}

.hero {
    /* position: relative; */
    z-index: 1;
    margin-top: 0px;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.hero p {
    font-size: 3.75rem;
    z-index: 2;
    text-align: center;
    padding: 0.625rem;
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0.5px black;
}

.mouse-icon {
    width: 4.438rem;
    margin-bottom: 20px;
    animation: bouncing-arrows 1s infinite ease-in-out;
    cursor: pointer;

}

@keyframes bouncing-arrows {

    0%,
    100% {
        transform: translateY(0);
        /* Posición inicial */
    }

    50% {
        transform: translateY(10px);
        /* Rebote hacia arriba */
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.25rem;
    background: linear-gradient(180deg, #0e095c 40%, #04bed4 100%);
    border-top: 0.05rem solid white;
    width: 100%;
}

.logo-and-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.05rem solid white;
    padding-right: 5%;
    gap: 0rem;
}

footer .logo {
    width: 18.75rem;
    margin-bottom: -3.125rem;
    /*sabemos que es mala práctica pero la foto está mal recortada*/
}

.socialIcons {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: contain;
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer ul a {
    color: white;
    font-size: 1.6rem;
}

footer ul li {
    color: white;
}

@media (max-width: 768px)
/*móviles*/
    {
    header {
        background-color: #0e095c;
        height: 8%;
    }

    header .logo {
        width: 30vw;
    }

    .divider {
        display: none;
    }

    .menu-toggle,
    .close-menu {
        display: block;
        border: 0;
        font-size: 3rem;
        background-color: transparent;
        color: white;
        font-style: oblique;
        cursor: pointer;
    }

    .nav {
        /* display: none;  como solo se puede tener un display usamos visibility*/
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(14, 5, 90, 0.96);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
    }

    .nav.visible {
        visibility: visible;
        opacity: 1;
    }


    .nav-links {
        flex-direction: column;
        align-items: end;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding-bottom: 40px;
    }

    .logo-and-icons {
        padding: 0;
        border: 0;
    }

    footer li {
        list-style: none;
    }

    footer ul a {
        font-size: 1.5rem;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    footer {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding-bottom: 40px;
    }

    .logo-and-icons {
        padding: 0;
        border: 0;
    }

    footer li {
        list-style: none;
    }

    footer ul a {
        font-size: 2rem;
    }
}